<div class="container">
  <div class="row">
<div class="col-md-5 mx-auto">
<div id="first">
  <div class="myform form ">
     <div class="logo mb-3">
       <div class="col-md-12 text-center">
        <h1>Register</h1>
       </div>
    </div>

    <form action="#" name="registration">
      <div class="form-group">
         <label for="exampleInputEmail1">Name and Last Name</label>
         <input required [(ngModel)]="registerData.name" type="text"  name="firstname" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Enter FullName">
      </div>

      <div class="form-group mt-2">
         <label for="exampleInputEmail1">Email address</label>
         <input required [(ngModel)]="registerData.email" type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group mt-2">
         <label for="exampleInputEmail1">Password</label>
         <input required [(ngModel)]="registerData.password" type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
      </div>
      <div class="col-md-12 text-center mb-3 mt-2">
         <button (click)="registerUser()" type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Signup</button>
      </div>
      <div class="col-md-12 ">
         <div class="form-group">
            <p class="text-center"><a href="/login" id="signin">Already have an account?</a></p>
         </div>
      </div>
       
   </form>





  </div>
</div>
</div>
</div>
</div>