html,
body {
background-color: #F0F2F5;
background-size: 100%;
background-repeat: repeat;
min-height: 100%;
  font-family: 'Poppins', sans-serif;

}

.style-snackBarTrue {
  background-color: #568003;
  color: #ffffff;
}
.style-snackBarFalse {
  background-color: #810505;
  color: #ffffff;
}


