<app-chat>
</app-chat>

<div class="bgComponent">
  <div class="form">
    <mat-card class="card">
      <div class="back" routerLink="/listTask"><mat-icon>X</mat-icon></div>

      <mat-card-title>Create Task</mat-card-title>
      <img width="150px" src="" alt="">
      <mat-card-content>
        <div class="container">
          <mat-form-field>
            <input
              [(ngModel)]="registerData.name"
              matInput
              placeholder="Task name"
              required
              maxlength="25"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              [(ngModel)]="registerData.description"
              matInput
              placeholder="Description"
              required
              maxlength="40"
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input required matInput [(ngModel)]="registerData.task_date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <input class="btnup"  type="file" (change)="uploadImg($event)" />
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="container-fluid btn">
          <div>
        <!-- <button (click)="saveTask()" class="button" mat-raised-button>
            Create
          </button> -->
        <button (click)="saveTaskImg()" class="button" mat-raised-button>
          Create
        </button>
      </div>
      </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="contenedor">
<div class="botones"><button mat-mini-fab  class="btn1">
  <a  href="http://localhost:4200/listTask" >
    <img  src="../../../assets/ingredients-list.png"></a>
</button>
</div>
<div class="botones"><button mat-mini-fab  class="btn2">
  <a  href="http://localhost:4200/saveTask"
    ><img  src="../../../assets/plus-math--v1.png"></a>
</button>
</div>
</div>
